---
import ArrowLeftIcon from "@/assets/icons/ArrowLeftIcon.astro";
import BrandDribbleIcon from "@/assets/icons/BrandDribbleIcon.astro";
import CodeIcon from "@/assets/icons/CodeIcon.astro";
import LinkButton from "@/components/LinkButton.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";

export const getStaticPaths = (async () => {
  const projects = await getCollection("projects");

  return projects.map((project) => ({
    params: { slug: project.slug },
    props: { project },
  }));
}) satisfies GetStaticPaths;

const { project } = Astro.props;
const { data, slug } = project;

const { Content } = await project.render();
---

<MainLayout>
  <main class="max-w-5xl mx-auto">
    <article class="prose prose-invert max-w-none">
      <header>
        <!-- class="fixed top-0 z-10 flex items-center justify-between bg-neutral-800/20 backdrop-blur-md w-full max-w-5xl rounded-b-sm" -->
        <div class="flex justify-between">
          <div>
            <LinkButton href="javascript:history.back()">
              <ArrowLeftIcon />
            </LinkButton>
          </div>

          <h1 class="text-3xl lg:text-4xl">
            {data.title}
          </h1>

          <div>
            <LinkButton href={data.demoUrl}>
              <BrandDribbleIcon />
            </LinkButton>

            <LinkButton href={data.codeUrl}>
              <CodeIcon />
            </LinkButton>
          </div>
        </div>

        {
          data.image && (
            <img
              transition:name={`img-${slug}`}
              src={data.image}
              alt={data.title}
              class="w-full rounded"
            />
          )
        }

        <p>
          {data.description}
        </p>
      </header>

      <section class="mt-6">
        <!-- Renderiza el contenido del markdown -->
        <Content />
      </section>
    </article>
  </main>
</MainLayout>
